<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login Selecta</title>
</head>
<body>
    <nav class="navBar">
        <div class="logo">
            <a href="index.html">Selecta</a>
        </div>
        <div class="menu">
            <a href="livros.html" class="links">Livros</a>
            <a href="carrinho.html" class="links">Carrinho</a>
            <a href="sobre.html" class="links">Sobre</a>
            <a href="loginAdm.html">Administração</a>
            <a href="login.html" class="links">Login</a>
            <input type="text" id="searchBar" placeholder="Pesquisa" class="searchBar" onkeyup="searchBooks()">
        </div>
    </nav>

    <header class="headerForm">
        <form action="" class="formUser">
            <fieldset>
                <legend>Cadastro de Livro</legend>
                <div class="campos">
                    <div class="inputCampos">
                        <input type="text" id="titulo" class="inputUser" placeholder="Titulo" require>
                    </div>
                    <div class="inputCampos">
                        <input type="text" id="autor" class="inputUser" placeholder="Autor" required>
                    </div>
                    <div class="inputCampos">
                        <input type="text" id="editora" class="inputUser" placeholder="Editora" required>
                    </div>
                    <div class="inputCampos">
                        <input type="text" id="preco" class="inputUser" placeholder="Preço" required>
                    </div>
                    <div class="inputCampos">
                        <textarea id="discricao" placeholder="Descrição do Livros"></textarea>
                    </div>
                    <div class="file">
                        <label for="imgLivro">Insira a capa do livro</label>
                        <input type="file" name="imgLivro" id="imgLivro">
                    </div>
                </div>
                <input type="submit" class="btnEnviar">
            </fieldset>
        </form>
    </header>

</body>
</html>