<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Livro 1 - Título do Livro</title>
</head>
<body>
    <nav class="navBar">
        <div class="logo">
            <a href="index.html">Selecta</a>
        </div>
        <div class="menu">
            <a href="livros.html" class="links">Livros</a>
            <a href="carrinho.html" class="links">Carrinho</a>
            <a href="sobre.html" class="links">Sobre</a>
            <a href="loginAdm.html">Administração</a>
            <a href="login.html" class="links">Login</a>
            <input type="text" id="searchBar" placeholder="Pesquisa" class="searchBar" onkeyup="searchBooks()">
        </div>
    </nav>

    <section class="livro">
        <div class="livro-details">
            <h1 class="livro-titulo">Memórias póstumas de Brás Cubas</h1>
            <img src="img/livro1.jpg" alt="Capa do Livro 1" class="livro-img">
            <p class="livro-sinopse">
                Não tive filhos, não transmiti a nenhuma criatura o legado da nossa miséria. Com essas palavras, o narrador de Memórias Póstumas de Brás Cubas resume a sua vida. O tom assumido na obra, bem como as técnicas empregadas na composição romanesca, são alguns dos fatores que justificam o lugar de Machado de Assis entre os maiores escritores do século XIX. Neste romance repleto de digressões filosóficas, o escritor se vale da posição privilegiada de Brás Cubas, que, como defunto autor, narra as suas desventuras e revela as contradições da sociedade brasileira do século XIX, por meio de uma análise aprofundada de seus personagens.
            </p>
            <ul class="avaliacao">
                <li class="star-icon ativo" data-avaliacao="1"></li>
                <li class="star-icon" data-avaliacao="2"></li>
                <li class="star-icon" data-avaliacao="3"></li>
                <li class="star-icon" data-avaliacao="4"></li>
                <li class="star-icon" data-avaliacao="5"></li>
            </ul>
            <p class="livro-preco">Preço: R$ 29,90</p>
            <button class="btn-comprar">Comprar</button>
        </div>
    </section>

    <div class="sessaoComentarios">
        <form action="" class="comentar">
        <div class="comentarioInput">
            <h1>Comentar</h1>
            <input type="text" name="nome" id="nomeComentario" placeholder="Coloque seu nome:">
            <textarea name="comentario" id="comentario" placeholder="Escreva seu Comentario:"></textarea>
            <input type="submit" value="Comentar" id="btnComentar">
        </div>
        </form>
        <div class="comentarios">
            <h1>Comentarios</h1>
            <p>asdfghjkl</p>
            <p>asdfghjkl</p>
        </div>
    </div>


    <footer class="footer">
        <p>&copy; 2024 Livraria Selecta. Todos os direitos reservados.</p>
    </footer>
</body>
<script src="js/comentarios.js"></script>
<script src="js/livro.js"></script>
</html>