<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Livro 1 - Título do Livro</title>
</head>
<body>
    <nav class="navBar">
        <div class="logo">
            <a href="index.html">Selecta</a>
        </div>
        <div class="menu">
            <a href="livros.html" class="links">Livros</a>
            <a href="" class="links">Carrinho</a>
            <a href="sobre.html" class="links">Sobre</a>
            <a href="login.html" class="links">Login</a>
            <input type="text" placeholder="Pesquisa" class="searchBar">
        </div>
    </nav>

    <section class="livro">
        <div class="livro-details">
            <h1 class="livro-titulo">O Cortiço</h1>
            <img src="img/livro2.jpg" alt="Capa do Livro 2" class="livro-img">
            <p class="livro-sinopse">
                O romance mostra as mazelas e a vida miserável dos moradores de duas habitações coletivas. João Romão é ganancioso comerciante de origem portuguesa, dono de um terreno no Rio de Janeiro onde constrói moradias de baixo custo para obter renda.
            </p>
            <ul class="avaliacao">
                <li class="star-icon ativo" data-avaliacao="1"></li>
                <li class="star-icon" data-avaliacao="2"></li>
                <li class="star-icon" data-avaliacao="3"></li>
                <li class="star-icon" data-avaliacao="4"></li>
                <li class="star-icon" data-avaliacao="5"></li>
            </ul>
            <p class="livro-preco">Preço: R$ 24,99</p>
            <button class="btn-comprar">Comprar</button>
        </div>
    </section>
    <div class="sessaoComentarios">
        <form action="" class="comentar" id="formulario">
        <div class="comentarioInput">
            <h1>Comentar</h1>
            <input type="text" id="nomeComentario" placeholder="Coloque seu nome:">
            <textarea id="comentario" placeholder="Escreva seu Comentario:"></textarea>
            <input type="submit" value="Comentar" id="btnComentar">
        </div>
        </form>
        <div class="comentarios" id="commentPost">
            <h1>Comentarios</h1>
        </div>
    </div>
    <div class="theme-toggle">
        🌓
    </div>
    <div class="font-control-container">
        <button id="fontIncrease" class="font-control">A+</button>
        <button id="fontDecrease" class="font-control">A-</button>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Livraria Selecta. Todos os direitos reservados.</p>
    </footer>
    <script src="js/tamanho.js"></script>
    <script src="js/alternancia.js"></script>
    <script src="js/comentários.js"></script>
    <script src="js/livro.js"></script>
</body>
</html>